USE [sreeparno_db]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStudents]    Script Date: 26-09-2025 13:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetStudents]
	@PageNumber INT = 1,
	@PageSize INT = 10
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;

	-- First result set: paged data
	SELECT * FROM Students
	ORDER BY Id
	OFFSET @Offset ROWS
	FETCH NEXT @PageSize ROWS ONLY;

	-- Second result set: total count
	SELECT COUNT(*) AS TotalCount FROM Students;
END
GO
