USE [sreeparno_db]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteStudent]    Script Date: 26-09-2025 13:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteStudent]
    @Id INT
AS
BEGIN
    DELETE FROM Students WHERE Id = @Id;
END
GO
