USE [sreeparno_db]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertStudent]    Script Date: 26-09-2025 13:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertStudent]
    @Name NVARCHAR(100),
    @Age INT,
    @Email NVARCHAR(100)
AS
BEGIN
    DECLARE @ecount int = (SELECT COUNT(*) FROM Students where Email=@Email)

    IF (@ecount=0)
    begin
        INSERT INTO Students (Name, Age, Email)
        VALUES (@Name, @Age, @Email);
    end

    else
        UPDATE Students
        SET Name = @Name, Age = @Age, Email = @Email
        WHERE Id = (SELECT ID FROM Students where Email=@Email);          
END
GO
