USE [sreeparno_db]
GO
/****** Object:  StoredProcedure [dbo].[sp_ImportExcelData]    Script Date: 26-09-2025 13:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure to import JSON data
CREATE PROCEDURE [dbo].[sp_ImportExcelData]
    @JsonData NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Clear existing data
     TRUNCATE TABLE ExcelData
    
    -- Insert new data from JSON
    INSERT INTO ExcelData (Name, Age, Email)
    SELECT Name, Age, Email
    FROM OPENJSON(@JsonData)
    WITH (
        Name NVARCHAR(100) '$.Name',
        Age INT '$.Age',
        Email NVARCHAR(100) '$.Email'
    )
END
GO
