USE [sreeparno_db]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetExcelData]    Script Date: 26-09-2025 13:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure to retrieve Excel data
CREATE PROCEDURE [dbo].[sp_GetExcelData]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM ExcelData ORDER BY Id ASC
END
GO
