USE [sreeparno_db]
GO
/****** Object:  StoredProcedure [dbo].[sp_MergeExcelData]    Script Date: 26-09-2025 13:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_MergeExcelData]
AS
BEGIN
    SET NOCOUNT ON;

    MERGE INTO Students AS T
    USING ExcelData AS S
        ON T.Email = S.Email
    WHEN MATCHED THEN
        UPDATE SET 
            T.Name = S.Name,
            T.Age = S.Age
    WHEN NOT MATCHED BY TARGET THEN
        INSERT (Name, Age, Email)
        VALUES (S.Name, S.Age, S.Email);
        
END
GO
