USE [sreeparno_db]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllStudents]    Script Date: 26-09-2025 13:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllStudents]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM Students;
END
GO
