USE [sreeparno_db]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateStudent]    Script Date: 26-09-2025 13:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateStudent]
    @Id INT,
    @Name NVARCHAR(100),
    @Age INT,
    @Email NVARCHAR(100)
AS
BEGIN
    UPDATE Students
    SET Name = @Name, Age = @Age, Email = @Email
    WHERE Id = @Id;
END
GO
