USE [sreeparno_db]
GO
/****** Object:  StoredProcedure [dbo].[sp_UserLogin]    Script Date: 26-09-2025 13:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UserLogin]
    @UserId INT,
    @Password NVARCHAR(50)
AS
BEGIN
    SELECT COUNT(*) 
    FROM Users 
    WHERE UserId = @UserId 
      AND Password = @Password COLLATE SQL_Latin1_General_CP1_CS_AS
END

    
GO
