USE [sreeparno_db]
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchStudents]    Script Date: 26-09-2025 13:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SearchStudents]
	@Keyword NVARCHAR(100) = NULL,
	@PageNumber INT = 1,
	@PageSize INT = 10
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;

	-- First result set: paged data
	SELECT *
	FROM Students
	WHERE
		CAST(Id AS NVARCHAR(50)) LIKE '%' + @Keyword + '%'
		OR Name LIKE '%' + @Keyword + '%'
		OR Email LIKE '%' + @Keyword + '%'
	ORDER BY Id
	OFFSET @Offset ROWS
	FETCH NEXT @PageSize ROWS ONLY;

	-- Second result set: total count of filtered results
	SELECT COUNT(*) AS TotalCount
	FROM Students
	WHERE
		CAST(Id AS NVARCHAR(50)) LIKE '%' + @Keyword + '%'
		OR Name LIKE '%' + @Keyword + '%'
		OR Email LIKE '%' + @Keyword + '%';
END
GO
