@*@model System.Data.DataTable
@{
    ViewBag.Title = "Excel Data in SQL Table";
}

<h2>Excel Data (via OPENJSON)</h2>

<table border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            @foreach (System.Data.DataColumn col in Model.Columns)
            {
                <th>@col.ColumnName</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (System.Data.DataRow row in Model.Rows)
        {
            <tr>
                @foreach (var item in row.ItemArray)
                {
                    <td>@item</td>
                }
            </tr>
        }
    </tbody>
</table>*@
